@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Montserrat:wght@400;500;600;700;800;900&display=swap');

/* ----------------------------------- styling for several different sections */

.logo {
    text-decoration: none;
}

.logo h1 {
    font-weight: 700;
    font-size: 200%;
    text-transform: uppercase;
    color: #45a29e;
}

h1, h2, h3 {
    font-family: "Montserrat", sans-serif;
}

p {
 font-family: "Lato", sans-serif;
 color: #c5c6c7;
}

.image-text {
    position: absolute;
    top: 25%;
    bottom: 0;
    left: 20%;
    right: 0;
    margin: auto;
}

.image-text h2 {
    color: #45a29e; 
    text-transform: uppercase;
    font-size: 600%;
    font-weight: 700;
}

.image-text p {
    color: #c5c6c7;
    font-size: 150%; 
}

i {
    font-size: 200%;
    color: #0b0c10;
}

/* ----------------------------------- header */
#navbar {
    height: 75px;
    width: 100%;
    background-color: #0b0c10;
    display: flex;
    align-items: flex-end;
    position: fixed;
    box-shadow: 0 4px 3px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 2;
}

#logo-nav {
    margin-left: 100px;
}

#menu {
    margin-left: 50px;
}

#menu li {
    display: inline-block;
    margin-left: 20px;
}

#menu li a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 120%;
    list-style: none;
    text-decoration: none;
    color: #c5c6c7;
}

#menu li a:hover {
    color: #66fcf1; 
}

/* ----------------------------------- hero-index */
 
#index-hero {
    width: 100%;
    height: 80vh;
    overflow: hidden;
    position: relative;
}

#index-hero img {
    max-width: 100%;
    object-fit: contain;
    position: absolute;
    top: 10%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/* ----------------------------------- reasons */

.reasons {
    background-color: #1f2833;
}
#reasons-heading {
    padding: 70px 0 70px 0;
    color: #45a29e;
    text-align: center;
} 

#reasons-items {
    padding-bottom: 100px;
}

.reasons-item {
    width: 250px;
    height: 300px;
    background: white;
    text-align: center;
    padding: 30px 15px 15px 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}


.reasons-item p {
    color: #0b0c10;
} 

/* ----------------------------------- footer */

footer {
    height: 100px;
    width: 100%;
    background-color: #0b0c10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social i {
    color: #c5c6c7;
}

#logo-footer {
    margin-left: 100px;
}

#contact-footer {
    margin-right: 100px;
}