@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Montserrat:wght@400;500;600;700;800;900&display=swap');

/* general */
* {
    margin: 0;
    padding: 0;
}

/* this was found on stack overflow to fix the issue with white space on the left side on some mobile screens */
html,body{
    overflow-x: hidden;
}

h1, h2, h3 {
    font-family: "Montserrat", sans-serif;
}

p {
 font-family: "Lato", sans-serif;
 color: #c5c6c7;
}

i {
    font-size: 200%;
    color: #0b0c10;
}

/* image with text */
.img-container {
    width: 100%;
    height: 80vh;
    position: relative;
    overflow: hidden;
    background: #060F1B;
}

.text-img {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
}

@media(max-width: 720px) {
    .text-img {
    display: none;
    }
}

.img-small {
    position: relative;
    width: 100%;
    height: 30vh;
    margin: auto;
    object-fit: cover;
}

@media(min-width: 720px) {
    .img-small {
    display: none;
    }
}

.image-text {
    position: absolute;
    top: 30%;
    bottom: 0;
    left: 20%;
    right: 0;
}

.image-text h2 {
    color: #45a29e; 
    text-transform: uppercase;
    font-size: 500%;
    font-weight: 700;
}
@media(max-width: 720px) {
    .image-text h2 {
    font-size: 200%;
    }
}

.image-text p {
    color: #c5c6c7;
    font-size: 125%; 
}

@media(max-width: 720px) {
    .image-text p {
    font-size: 100%;
    }
}

/* logo */
.logo h1 {
    font-weight: 900;
    font-size: 110%;
    text-transform: uppercase;
    color: #66fcf1;
}

.logo h1 span {
    font-size: 130%;
    letter-spacing: -3px;
}

@media(max-width: 320px) {
    .logo h1 {
    font-size: 80%;
    }
}

/* navbar */
.navbar {
    background-color: #0b0c10;
    box-shadow: 0 4px 3px 0px;
    border-radius: 0 0 5px 5px;
    z-index: 2;
    position: fixed;
    width: 100vw;
}

.menu li {
    margin-right: 20px;
    color: #c5c6c7;
}

.menu li a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 120%;
    list-style: none;
    text-decoration: none;
    color: #c5c6c7;
}

/* footer */
footer {
    background-color: #0b0c10;
    padding-top: 2rem;
}

.footer-item {
    margin: 1rem;
}

.footer-item i {
    color: #c5c6c7;
    font-size: 250%;
    padding: 1rem 0.2rem;
}

.footer-contact {
    font-size: 120%;
}

/* hero-index */
.index-hero {
    top: 20%;
    bottom: 0;
    left: 0;
    right: 0;
}

@media(max-width: 720px) {
    .container-index {
    height: 45vh;
    }
}

@media(max-width: 720px) {
    .container-index .image-text {
    position: absolute;
    top: 33%;
    bottom: 0;
    left: 10%;
    right: 0;
    }
}

/* reasons */
.reasons {
    background-color: #060F1B;
    width: 100%;
}
.reasons-heading {
    padding: 70px 0 70px 0;
    color: #45a29e;
    text-align: center;
} 

/* to style the shape, size, color and position to elements arount and inside */
.reasons-item {
    width: 250px;
    height: 300px;
    /* this section is taken from Youtube tutorial made by Dev Ed*/
    background: #fff;
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.7)
    );
    /* this section is taken from Youtube tutorial made by Dev Ed*/
    text-align: center;
    padding: 30px 15px 15px 15px;
    border-radius: 10px;
    margin-bottom: 10rem;
}

.reasons-item p {
    color: #0b0c10;
} 

/* membership */
.memberships {
    background-color: #060F1B;
    padding: 2rem;
}

.membership-heading {
    margin: 10rem 0 2rem 0;
    color: #45a29e;
    text-align: center;
} 

.membership-text {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 125%;
}

/* to style the shape, size, color and position to elements arount and inside */
.membership-item {
    width: 250px;
    height: 250px;
    /* this section is taken from Youtube tutorial made by Dev Ed*/
    background: #fff;
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.7)
    );
    /* this section is taken from Youtube tutorial made by Dev Ed*/
    text-align: center;
    padding: 30px 15px 15px 15px;
    border-radius: 10px;
    margin-bottom: 5rem;
}

.membership-item p {
    color: #0b0c10;
}

.price {
    font-size: 200%;
}

/* student discount */
@media(max-width: 720px) {
    .container-discount {
    height: 30vh;
    }
}

@media(max-width: 720px) {
    .container-discount .image-text {
    position: absolute;
    top: 10%;
    bottom: 0;
    left: 10%;
    right: 0;
    }
}

/* schedule hero */
@media(max-width: 720px) {
    .container-schedule {
    height: 35vh;
    }
}

@media(max-width: 720px) {
    .container-schedule .image-text {
    position: absolute;
    top: 42%;
    bottom: 0;
    left: 10%;
    right: 0;
    }
}

/* class schedule */
.schedule-background {
    background-color: #0b0c10;
    width: 100%;
    padding: 5rem 0 10rem 0;
}
.schedule-container {
    /* this section is taken from Youtube tutorial made by Dev Ed*/
    background: #fff;
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.7)
    );
    /* this section is taken from Youtube tutorial made by Dev Ed*/
    height: 600;
    width: 100%;
    border-radius: 10px;
    padding: 15px 30px 15px 30px;
}

.schedule-heading {
    text-align: center;
    color: #0b0c10;
}
/* to style the shape, size, color and position to elements arount and inside */
.schedule-item {
    height: 420px;
    width: 120%;
    background: #0b0c10;
    text-align: center;
    border-radius: 7px;
    padding: 10px;
    margin: 5px 0 5px 0;
}

.schedule-weekday {
    height: 40px;
    background: #45a29e;
    border-radius: 5px; 
}

.schedule-section {
    height: 50px;
    background: #45a29e;
    border-radius: 5px;
    margin: 10px 0 10px 0;
}

/* meet our instructors */
.instructors {
    background-color: #060F1B;
    width: 100%;
    padding: 5rem 0 10rem 0;
    text-align: center;
    color: #c5c6c7;
}

.instructors-heading {
    color: #45a29e;
    margin-bottom: 50px;
}

/* to style the shape, size and position to elements arount and inside */
.img-circle {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin: auto;
    margin-bottom: 1rem;
}
/* to position the images in the img-circle */
.instructor-img {
     object-fit: cover;
     max-width: 100%;
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
}

/* contact */
.contact {
    background-color: #060F1B;
    width: 100%;
}
.contact-heading {
    margin: 200px 0 20px 0;
    color: #45a29e;
    text-align: center;
} 

.contact-text {
    text-align: center;
    margin-bottom: 50px;
    font-size: 125%;

}

/* to style the shape, size, color and position to elements arount and inside */
.contact-item {
    width: 250px;
    height: 300px;
    /* this section is taken from Youtube tutorial made by Dev Ed*/
    background: #fff;
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.7)
    );
    /* this section is taken from Youtube tutorial made by Dev Ed*/
    text-align: center;
    padding: 30px 15px 15px 15px;
    border-radius: 10px;
    margin-bottom: 5rem;
}

.contact-item p {
    color: #0b0c10;
}


/* contact form */
.contact-section {
    background-color: #060F1B;
}

.form-heading {
    text-align: center;
    padding: 100px 0 50px 0;
    color: #45a29e;
}

.contact-form {
    max-width: 70%;
    margin: 0 auto;
    padding: 2rem 0 10rem 0;
}
label {
    color: #c5c6c7;
}

#message {
    height: 150px;
}

@media(min-width: 960px) {
    .contact-form {
    max-width: 30%;
    }
}